name: ext
description: Common methods.
publish_to: 'none'
version: 1.0.0

environment:
  sdk: ^2.12.0-0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
